.how-much {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .token-contract {
    input {
      height: 50px;
      width: 180px;
      margin: 10px;
      text-align: center;
    }
  }
  .total-received {
    font-size: 50px;
  }
  button.btn.btn-info {
    padding: 10px 70px;
    font-size: 1.2em;
    cursor: pointer;
  }
}
